[{mc_erl, [

        % specifies the ports to listen on
        {servers, [
                {main, [
                        {port, 25565},
                        {default_world, main},
                        {description, "main server"},
                        {motd, "I'm a motd!!!11!!"}]},
                {other, [
                        {port, 25566},
                        {default_world, other},
                        {description, "other server"},
                        {motd, "just a boring motd... keep going."}]}
        ]},

        % postgresql database connection (host, user, password, database)
        {database, {"localhost", "mc-erl", "test", "mc-erl"}}

]},
{lager, [
        {colored, true},
        {handlers, [
                {lager_console_backend, [info, 
                        {lager_default_formatter,
                                [time," [",severity,"] ", {module, [module, ": "], ""},
                                 message,  "\n"]}]},
                {lager_file_backend, [{file, "error.log"}, {level, error}]},
                {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
]}].
