[{mc_erl, [

        % specifies the ports to listen on
        {servers, [
                % {name, Port, DefaultWorld, Description, Motd},
                {main, 25565, main, "main server", "I'm a motd!!!11!!"},
                {other, 25566, other, "other server", "just a boring motd... keep going."}
        ]},

        % postgresql database connection (host, user, password, database)
        {database, {"localhost", "mc-erl", "test", "mc-erl"}}

]},
{lager, [
        {colored, true},
        {handlers, [
                {lager_console_backend, info},
                {lager_file_backend, [{file, "error.log"}, {level, error}]},
                {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
]}].
